In [1]:
import pandas as pd

In [2]:
file='Spotify_Dataset_V3.csv'

In [22]:
df=pd.read_csv(file,delimiter=';')
df.head()

,Rank,Title,Artists,Date,Danceability,Energy,Loudness,Speechiness,Acousticness,Instrumentalness,Valence,# of Artist,Artist (Ind.),# of Nationality,Nationality,Continent,Points (Total),Points (Ind for each Artist/Nat),id,Song URL
0,1,Ella Baila Sola,"Eslabon Armado, Peso Pluma",29/05/2023,0.668,0.758,-5176.0,0.033,0.483,0.000,0.834,Artist 1,Eslabon Armado,Nationality 1,Mexico,Latin-America,200,100.0,3qQbCzHBycnDpGskqOWY0E,https://open.spotify.com/track/3qQbCzHBycnDpGs...
1,1,Ella Baila Sola,"Eslabon Armado, Peso Pluma",29/05/2023,0.668,0.758,-5176.0,0.033,0.483,0.000,0.834,Artist 2,Peso Pluma,Nationality 2,Mexico,Latin-America,200,100.0,3qQbCzHBycnDpGskqOWY0E,https://open.spotify.com/track/3qQbCzHBycnDpGs...
2,2,WHERE SHE GOES,Bad Bunny,29/05/2023,0.652,0.800,-4019.0,0.061,0.143,0.629,0.234,Artist 1,Bad Bunny,Nationality 1,Puerto Rico,Latin-America,199,199.0,7ro0hRteUMfnOioTFI5TG1,https://open.spotify.com/track/7ro0hRteUMfnOio...
3,3,La Bebe - Remix,"Yng Lvcas, Peso Pluma",29/05/2023,0.812,0.479,-5678.0,0.333,0.213,0.000,0.559,Artist 1,Yng Lvcas,Nationality 1,Mexico,Latin-America,198,99.0,2UW7JaomAMuX9pZrjVpHAU,https://open.spotify.com/track/2UW7JaomAMuX9pZ...
4,3,La Bebe - Remix,"Yng Lvcas, Peso Pluma",29/05/2023,0.812,0.479,-5678.0,0.333,0.213,0.000,0.559,Artist 2,Peso Pluma,Nationality 2,Mexico,Latin-America,198,99.0,2UW7JaomAMuX9pZrjVpHAU,https://open.spotify.com/track/2UW7JaomAMuX9pZ...

In [23]:
df=df[['Rank','Date','Title','Danceability','Energy','Loudness','Speechiness','Acousticness','Instrumentalness','Valence','id']]
df.head()

,Rank,Date,Title,Danceability,Energy,Loudness,Speechiness,Acousticness,Instrumentalness,Valence,id
0,1,29/05/2023,Ella Baila Sola,0.668,0.758,-5176.0,0.033,0.483,0.000,0.834,3qQbCzHBycnDpGskqOWY0E
1,1,29/05/2023,Ella Baila Sola,0.668,0.758,-5176.0,0.033,0.483,0.000,0.834,3qQbCzHBycnDpGskqOWY0E
2,2,29/05/2023,WHERE SHE GOES,0.652,0.800,-4019.0,0.061,0.143,0.629,0.234,7ro0hRteUMfnOioTFI5TG1
3,3,29/05/2023,La Bebe - Remix,0.812,0.479,-5678.0,0.333,0.213,0.000,0.559,2UW7JaomAMuX9pZrjVpHAU
4,3,29/05/2023,La Bebe - Remix,0.812,0.479,-5678.0,0.333,0.213,0.000,0.559,2UW7JaomAMuX9pZrjVpHAU

In [24]:
df=df.drop_duplicates()
df.head()

,Rank,Date,Title,Danceability,Energy,Loudness,Speechiness,Acousticness,Instrumentalness,Valence,id
0,1,29/05/2023,Ella Baila Sola,0.668,0.758,-5176.0,0.033,0.483,0.000,0.834,3qQbCzHBycnDpGskqOWY0E
2,2,29/05/2023,WHERE SHE GOES,0.652,0.800,-4019.0,0.061,0.143,0.629,0.234,7ro0hRteUMfnOioTFI5TG1
3,3,29/05/2023,La Bebe - Remix,0.812,0.479,-5678.0,0.333,0.213,0.000,0.559,2UW7JaomAMuX9pZrjVpHAU
5,4,29/05/2023,Cupid - Twin Ver.,0.783,0.592,-8332.0,0.033,0.435,0.000,0.726,7FbrGaHYVDmfr7KoLIZnQ7
6,5,29/05/2023,un x100to,0.569,0.724,-4076.0,0.047,0.228,0.000,0.562,6pD0ufEQq0xdHSsRbg9LBK

In [25]:
df['Date'].nunique()

2336

In [28]:
df['Date'].unique()

array(['29/05/2023', '28/05/2023', '27/05/2023', ..., '03/01/2017',
       '02/01/2017', '01/01/2017'], dtype=object)

In [33]:
df['Dated_date']=pd.to_datetime(df['Date'])
df.head()

C:\Users\jacqu\AppData\Local\Temp\ipykernel_23192\449627933.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Dated_date']=pd.to_datetime(df['Date'])

,Rank,Date,Title,Danceability,Energy,Loudness,Speechiness,Acousticness,Instrumentalness,Valence,id,Dated_date
0,1,29/05/2023,Ella Baila Sola,0.668,0.758,-5176.0,0.033,0.483,0.000,0.834,3qQbCzHBycnDpGskqOWY0E,2023-05-29
2,2,29/05/2023,WHERE SHE GOES,0.652,0.800,-4019.0,0.061,0.143,0.629,0.234,7ro0hRteUMfnOioTFI5TG1,2023-05-29
3,3,29/05/2023,La Bebe - Remix,0.812,0.479,-5678.0,0.333,0.213,0.000,0.559,2UW7JaomAMuX9pZrjVpHAU,2023-05-29
5,4,29/05/2023,Cupid - Twin Ver.,0.783,0.592,-8332.0,0.033,0.435,0.000,0.726,7FbrGaHYVDmfr7KoLIZnQ7,2023-05-29
6,5,29/05/2023,un x100to,0.569,0.724,-4076.0,0.047,0.228,0.000,0.562,6pD0ufEQq0xdHSsRbg9LBK,2023-05-29

In [40]:
#between may 30 2022 to may 29 2023
dated_Df=df.loc[df['Dated_date']>='2022-05-30']
dated_Df.tail()

,Rank,Date,Title,Danceability,Energy,Loudness,Speechiness,Acousticness,Instrumentalness,Valence,id,Dated_date
103649,40,30/05/2022,Yo No Soy Celoso,0.872,0.588,-6276.0,0.049,0.275,0.000,0.930,5kVZxyMY1gfdCLiChsfjn1,2022-05-30
103650,127,30/05/2022,Yo Voy (feat. Daddy Yankee),0.808,0.697,-5899.0,0.241,0.041,0.000,0.554,5gflgO9EPbIBf16n5TKnQS,2022-05-30
103651,106,30/05/2022,Yonaguni,0.644,0.648,-4601.0,0.118,0.276,0.000,0.440,2JPLbjOn0wPCngEot2STUS,2022-05-30
103652,183,30/05/2022,You Right,0.828,0.621,-6414.0,0.057,0.016,0.002,0.436,0k4d5YPDr1r7FX77VdqWez,2022-05-30
103654,184,30/05/2022,ZOOM,0.874,0.600,-6064.0,0.158,0.009,0.000,0.457,4IaxDf2FixiQXq0mW7key9,2022-05-30

In [41]:
dated_Df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73401 entries, 0 to 103654
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              73401 non-null  int64
 1   Date              73401 non-null  object
 2   Title             73401 non-null  object
 3   Danceability      73401 non-null  float64
 4   Energy            73401 non-null  float64
 5   Loudness          73401 non-null  float64
 6   Speechiness       73401 non-null  float64
 7   Acousticness      73401 non-null  float64
 8   Instrumentalness  73401 non-null  float64
 9   Valence           73401 non-null  float64
 10  id                73401 non-null  object
 11  Dated_date        73401 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(1), object(3)
memory usage: 7.3+ MB

In [29]:
df.to_csv('training_data.csv')